### 2741번 N 찍기

In [1]:
a=int(input())
for i in range(a):
    print(i+1)

5
1
2
3
4
5

### 2742번 기찍 N

In [2]:
a=int(input())
for i in range(a,0,-1):
    print(i)

5
5
4
3
2
1

### 2739번 구구단

In [3]:
a=int(input())
for i in range(1, 10):
    print("{0} * {1} = {2}".format(a,i,a*i))
    #print(a, " * ", i, " = ",a*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 2438번 별찍기 - 1

In [4]:
a=int(input())
star="*"
for i in range(1, a+1):
    print(star)
    star=star+"*"

5
*
**
***
****
*****

### 2439번 별찍기 - 2

In [5]:
a=int(input())
star="*"
aa = "%"+str(a)+"s"
for i in range(a, 0, -1):
    print(aa % star)
    star = star+'*'

5
    *
   **
  ***
 ****
*****

### 2440번 별찍기 - 3

In [6]:
a=int(input())
star="*"*a
for i in range(a, 0, -1):
    print(star)
    star=star[:-1]

5
*****
****
***
**
*

### 2441번 별찍기 - 4

In [7]:
a=int(input())
star="*"*a
aa = "%"+str(a)+"s"
for i in range(a, 0, -1):
    print(aa % star)
    star=star[:-1]

5
*****
 ****
  ***
   **
    *

### 1924번 2007년

### 8393번 합

In [8]:
n = int(input())
total = 0
for i in range(1,n+1):
    total += i
print(total)

3
6

### 11720번 숫자의 합

### 11721번 열 개씩 끊어 출력하기

### 15552번 빠른 A + B